AuthType Basic
					AuthName "Tinyshop Administration"
					AuthUserFile C:/xampp/htdocs/shop/administration/.htpasswd
					Require valid-user
					Order Deny,Allow
					Deny from all
					Allow from 127.0.0.1
					