RewriteEngine On

Options All -Indexes
Options +FollowSymLinks
ServerSignature Off

IndexIgnore *

# PHP 5.
# <IfModule mod_php5.c>
#   php_value include_path ".:/usr/local/lib/php"
#   php_flag mail.add_x_header Off
#   php_value memory_limit 64M
#   php_value post_max_size 10M
#   php_value upload_max_filesize 10M
#   php_value display_errors 0
# </IfModule>

# PHP 7.
# <IfModule mod_php7.c>
#   php_value include_path ".:/usr/local/lib/php"
#   php_flag mail.add_x_header Off
#   php_value memory_limit 64M
#   php_value post_max_size 10M
#   php_value upload_max_filesize 10M
#   php_value display_errors 0
# </IfModule>

# Rewrite URI's
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^catalog/(.*)/(.*)/(.*)/(.*)/$ /shop/product-list.php?cat=$1&product=$2&productid=$3&page=$4  [NC,L]
RewriteRule ^item/(.*)/(.*)/(.*)/(.*)/$ /shop/product.php?cat=$1&product=$2&productid=$3&page=$4  [NC,L]
RewriteRule ^category/(.*)$ /shop/pages.php?id=$1&page=$2 [NC,L]

RewriteRule ^blog/(.*)/(.*)/(.*)/(.*)/$ /shop/pages/blog.php?cat=$1&blogid=$2&blogtitle=$3&page=$4  [NC,L]
RewriteRule ^pages/(.*)/(.*)/(.*)/(.*)/$ /shop/pages/page.php?cat=$1&pageid=$2&pagetitle=$3&page=$4  [NC,L]
RewriteRule ^articles/(.*)/(.*)/(.*)/(.*)/$ /shop/pages/article.php?cat=$1&articleid=$2&articletitle=$3&page=$4  [NC,L]

RewriteRule ^vacation/(.*)$ /shop/pages/shop-error.php?reason=1 [NC,L]
RewriteRule ^offline/(.*)$ /shop/pages/shop-error.php?reason=2 [NC,L]
RewriteRule ^closed/(.*)$ /shop/pages/shop-error.php?reason=3 [NC,L]

# /query/rnd/action/code/
RewriteRule ^query/(.*)/(.*)/(.*)/$ query.php?action=$2&code=$3  [NC,L]

# /wishlist/rnd/action/product/tr/
RewriteRule ^wishlist/(.*)/(.*)/(.*)/(.*)/$ query.php?action=$2&product=$3&tr=$4  [NC,L]

# /cart/action/rnd/product/
# /cart/addtocart/rnd/id/

RewriteRule ^cart/$ cart.php [NC,L]

RewriteRule ^cart/checkout/$ checkout.php [NC,L]
RewriteRule ^shop/cart/checkout/$ checkout.php [NC,L]

RewriteRule ^cart/cancel/$ query.php?action=cancel [NC,L]
RewriteRule ^cart/paid/$ query.php?action=payed [NC,L]
RewriteRule ^shop/cart/paid/$ query.php?action=payed [NC,L]
RewriteRule ^cart/ipn/$ query.php?action=ipn [NC,L]
RewriteRule ^shop/cart/delete/(.*)/$ query.php [NC,L]
RewriteRule ^shop/cart/update/(.*)/$ query.php?action=$1 [NC,L]
RewriteRule ^cart/(.*)/(.*)/$ query.php?action=$1 [NC,L]
RewriteRule ^shop/cart/(.*)/(.*)/$ query.php?action=$1 [NC,L]

# Webapplication firewall.

RewriteCond %{REQUEST_METHOD}  ^(HEAD|TRACE|DELETE|TRACK) [NC,OR]
RewriteCond %{HTTP_REFERER}    ^(.*)(<|>|'|%0A|%0D|%27|%3C|%3E|%00).* [NC,OR]
RewriteCond %{REQUEST_URI}     ^/(,|;|<|>|/{2,999}).* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^(java|curl|wget).* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*(winhttp|HTTrack|clshttp|archiver|loader|email|harvest|extract|grab|miner).* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*(libwww|curl|wget|python|nikto|scan).* [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*(<|>|'|%0A|%0D|%27|%3C|%3E|%00).* [NC,OR]
RewriteCond %{HTTP_COOKIE}     ^.*(<|>|'|%0A|%0D|%27|%3C|%3E|%00).* [NC,OR]
RewriteCond %{QUERY_STRING}    ^.*(;|'|").*(union|select|insert|declare|drop|update|md5|benchmark).* [NC,OR]
RewriteCond %{QUERY_STRING}    ^.*(localhost|loopback|127\.0\.0\.1).* [NC,OR]
RewriteCond %{QUERY_STRING}    ^.*\.[A-Za-z0-9].* [NC,OR] # prevents shell injection
RewriteCond %{QUERY_STRING}    ^.*(<|>|'|%0A|%0D|%27|%3C|%3E|%00).* [NC]
RewriteRule ^(.*)$ index.php

# Prevent framing
Header set X-Frame-Options SAMEORIGIN env=!allow_framing

<IfModule mod_headers.c>
    Header unset ETag
</IfModule>

<FilesMatch "(\.(bak|config|dist|fla|inc|ini|log|psd|sh|sql|swp)|~)$">
    # Apache 2.2
    Order allow,deny
    Deny from all
    Satisfy All
    # Apache 2.4
    # Require all denied
</FilesMatch>

<IfModule mod_deflate.c>

    # Compress all output labeled with one of the following MIME-types
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/atom+xml \
                                      application/javascript \
                                      application/json \
                                      application/rss+xml \
                                      application/x-web-app-manifest+json \
                                      application/xhtml+xml \
                                      application/xml \
                                      font/opentype \
                                      image/svg+xml \
                                      image/x-icon \
                                      text/css \
                                      text/html \
                                      text/plain \
                                      text/x-component \
                                      text/xml
    </IfModule>

</IfModule>

<IfModule mod_expires.c>

    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"

  # CSS
    ExpiresByType text/css                              "access plus 1 year"

  # Data interchange
    ExpiresByType application/json                      "access plus 900 seconds"
    ExpiresByType application/xml                       "access plus 900 seconds"
    ExpiresByType text/xml                              "access plus 900 seconds"

  # Favicon (cannot be renamed!)
    ExpiresByType image/x-icon                          "access plus 1 week"

  # HTML components (HTCs)
    ExpiresByType text/x-component                      "access plus 1 month"

  # HTML
    ExpiresByType text/html                             "access plus 0 seconds"

  # JavaScript
  # ExpiresByType application/javascript                "access plus 1 year"

  # Manifest files
    ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
    ExpiresByType text/cache-manifest                   "access plus 0 seconds"

</IfModule>
