/*
 * Tiny Shop default styling.
*/

body {
     padding:15px;
     font-size:1em;
}
 h1 {
     color:#000;
}
 fieldset {
     width:50%;
     background-color:#efefef;
     padding:15px;
}
 input, textarea, label {
}
 textarea {
     width:100%;
}
 label {
     font-weight:bold;
}
 div {
     padding:3px;
}
 .Library {
     float: left;
     text-align: center;
     width: 170px;
     height: 500px;
     border: 1px solid;
     margin: 15px;
     padding:4px;
     font-size:0.8em;
}
 table td {
     !color:#000;
     padding:0px;
     margin:0px;
     vertical-align:bottom;
     font-size:1em;
}
 th {
     text-align: left;
     font-weight:bold;
}
 .status-red {
     color: #ff3300;
}
 .status-green {
}
 div.red {
     font-family:monospace;
     width: 200px;
     height:20px;
     color: #000;
}
 div.blue {
     font-family:monospace;
     width: 200px;
     height:20px;
     color: #000;
}
 div.blank {
     font-family:monospace;
     width: 190px;
     height:20px;
     margin:0px;
     clear:both;
}
 a:link, a:visited {
     color: #663399;
     text-decoration:none;
}
 .cover {
     width:350px;
     height:550px;
     float:left;
     clear:right;
     margin:25px;
}
 p {
     color: #000;
     font-family:monospace;
     font-size:28px;
     text-align:center;
     font-weight:bold;
}

/*
 * Product styling.
*/

#ts-product-list {
	
}

#ts-product {
	
}

.ts-product-status-green {
	
}

.ts-product-status-red {
	
}

.ts-product-image-icon {
	display:block;
	height:100px;
	width:100px;
	font-size:10em;
	margin:10px;
}

.ts-product-image-div {
	
}

.ts-product-image {
	
}

/* 
 * tinyshop product list
*/

.ts-product-list {
	
}

.ts-list-product-status {
	
}

.ts-list-product-price {
	
}

.ts-list-product-desc {
	
}

.ts-list-product-cat {
	
}

.ts-list-product-link {
	
}

.ts-list-cart-button {
	
}

.ts-list-view-link {
	
}

/* 
 * tinyshop product group
*/

.ts-product-group {
	
}

.ts-group-product-status {
	
}

.ts-group-product-price {
	
}

.ts-group-product-desc {
	
}

.ts-group-product-cat {
	
}

.ts-group-product-link {
	
}

.ts-group-cart-button {
	
}

.ts-group-view-link {
	
}

/* 
 * tinyshop pagination
*/

.ts.paginate {
	text-align:center;
}

.ts.pagination {
	text-align:center;
	font-family: monospace;
	font-size: 10px;
}

.ts.pagination.link {
	font-family: monospace;
	font-size: 10px;
}

.ts.disabled.span {
	font-family: monospace;
	font-size: 10px;
}

/* 
 * tinyshop cart form
*/
label {
	display: block;
}

#ts-shop-cart-form {
	display: block;
	width: 500px;
	margin:5px;
	text-align:left;
}

.ts-shop-form-field {
	float:left;
	border:1px solid grey;
	width:40%;
	margin:15px;
	padding:15px;
}

#ts-shop-cart-form-data {
	display: block;
	width: 100%;
	margin:5px;
}

#ts-shop-cart-form input {
	display: block;
	margin:  5px;
	padding: 2px;
}

#ts-form-cart-payment-gateway-select {
	margin:  3px;
}
