/*
 * Tiny Shop default styling.
*/

body {
	padding: 15px;
	font-size: 1em;
	margin: 0;
	font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #f8f9fa;
}
h1 {
	color: #000;
}
fieldset {
	width: 50%;
	background-color: #efefef;
	padding: 15px;
}
input[type="text"],
textarea {
	display: block;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .15rem;
}
input[type="button"],
input[type="submit"] {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}
input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}
input[type="radio" i] {
	background-color: initial;
	cursor: default;
	-webkit-appearance: radio;
	box-sizing: border-box;
	margin: 3px 3px 0px 5px;
	padding: initial;
	border: initial;
}
input[type=checkbox],
input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}
input[type="checkbox" i] {
	background-color: initial;
	cursor: default;
	-webkit-appearance: checkbox;
	box-sizing: border-box;
	margin: 3px 3px 3px 4px;
	padding: initial;
	border: initial;
}
button,
input {
	overflow: visible;
}
textarea {
	width: 100%;
}
label {
	font-weight: bold;
}
div {
	padding: 3px;
}
table td {
	color: #000;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom;
	font-size: 1em;
}
th {
	text-align: left;
	font-weight: bold;
}

ul {
    display: -ms-flexbox;
    display: flex;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

li {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
li:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.status-red {
	color: #ff3300;
}
.status-green {} 

a:link, a:visited {
	color: #663399;
	text-decoration: none;
}
div.red {
	font-family: monospace;
	width: 200px;
	height: 20px;
	color: #000;
}
div.blue {
	font-family: monospace;
	width: 200px;
	height: 20px;
	color: #000;
}
div.blank {
	font-family: monospace;
	width: 190px;
	height: 20px;
	margin: 0px;
	clear: both;
}
.cover {
	width: 350px;
	height: 550px;
	float: left;
	clear: right;
	margin: 25px;
}
p {
	color: #000;
	font-family: monospace;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
}
/*
 * Product styling.
*/

#ts-product-list {} #ts-product {} .ts-product-status-green {} .ts-product-status-red {} .ts-product-image-icon {
	display: block;
	height: 100px;
	width: 100px;
	font-size: 10em;
	margin: 10px;
}
.ts-product-image-div {} .ts-product-image {}
/* 
 * tinyshop product list
*/

.ts-product-list {} .ts-list-product-status {} .ts-list-product-price {} .ts-list-product-desc {} .ts-list-product-cat {} .ts-list-product-link {} .ts-list-cart-button {} .ts-list-view-link {}
/* 
 * tinyshop product group
*/

.ts-product-group {} .ts-group-product-status {} .ts-group-product-price {} .ts-group-product-desc {} .ts-group-product-cat {} .ts-group-product-link {} .ts-group-cart-button {} .ts-group-view-link {}
/* 
 * tinyshop pagination
*/

.ts.paginate {
	text-align: center;
}
.ts.pagination {
	text-align: center;
	font-family: monospace;
	font-size: 10px;
}
.ts.pagination.link {
	font-family: monospace;
	font-size: 10px;
}
.ts.disabled.span {
	font-family: monospace;
	font-size: 10px;
}
/* 
 * tinyshop cart form
 * some parts come from bootstrap, serving as an example.
*/

label {
	display: block;
}
#ts-shop-cart-form {
	display: block;
	width: 100%;
	margin: 5px;
	text-align: left;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.ts-shop-form-field {
	display: block;
	float: left;
	border: 1px solid #ced4da;
	width: 30%;
	margin: 1em;
	padding: 1.5em;
	text-align: left;
	position: relative;
}
#ts-shop-cart-form-data {
	display: block;
	width: 100%;
	margin: 5px;
}
#ts-shop-cart-form input[type="text"] {
	display: block;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .15rem;
}
#ts-form-cart-payment-gateway-select {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .15rem;
}
